.card{
    border:1px solid hsla(0, 1%, 27%, 0.815);
    border-radius: 10px;
    box-shadow: 5px 5px 5px;
    max-width:250px;
    text-align: center;
    padding: 20px;
    margin:10px;
    display: inline-block;
}

